<div class="center hero-unit">
  <h1>Welcome to the Journalisical</h1>

  <%= link_to "View Posts!", view_posts_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Write a post!", new_post_path, class: "btn btn-large btn-primary" %>
</div>
